.card {
  margin-bottom: 1rem;
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a,
footer a:active,
footer a:hover,
footer a:focus,
footer a:visited {
  color: #000;
  text-decoration: none;
}

code {
  color: #ffc107
}

a:not(.btn){
  text-decoration: underline;
  color: inherit;
}
a:not(.btn):hover {
  color:#cecece;
}