.lead{
  font-weight: lighter;
}

.card {
  margin-bottom: 1rem;
  padding:0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: inherit;
}

footer a,
footer a:active,
footer a:hover,
footer a:focus,
footer a:visited {
  text-decoration: none !important;
}

code {
  color: #ffc107
}

a:not(.btn){
  text-decoration: underline;
  color: inherit;
}
a:not(.btn):hover {
  color:#cecece;
}